Django==1.11.4
django-etc==0.10.0
django-extensions==1.8.1
django-filer==1.2.8
django-mptt==0.8.7
django-polymorphic==1.0.2
django-sitetree==1.8.0
easy-thumbnails==2.4.1
olefile==0.44
Pillow==9.3.0
psycopg2==2.7.3
pytz==2017.2
six==1.10.0
Unidecode==0.4.21
